.AlbumCard {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px 30px 5px 5px;
  border: black solid 1px;
  margin-bottom: 15px;
}

.AlbumCard__image {
  margin-right: 10px;
}

.AlbumCard__details {
  margin-left: auto;
  margin-right: 0;
  padding-left: 20px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.AlbumCard__year {
  font-size: 12px;
}
